<mat-grid-list cols="8" rowHeight="10vh" gutterSize="0px" class="board" cdkDropListGroup>
    <mat-grid-tile *ngFor="let case of this.board.getFlatCases(); let index=index">
        <div 
            [ngClass]="this.setTileColorClass(index)" 
            cdkDropList 
            [cdkDropListData]="{item: case, index: index}" 
            cdkDropListOrientation="horizontal" 
            (cdkDropListDropped)="movePiece($event)"
        >
            <div
                class="piece" 
                cdkDrag
            >
                {{ case ? (case.getName() | HTMLCodePipe) : ""}}
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>