mat-grid-tile {
    overflow: visible !important;
}

mat-grid-list {
    width: 80vh;
    padding: 0;
    font-size: 8vh;
    border: 10px solid brown;
}

.black-tile {
    height: 100%;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

//TODO: enlever (debugging purpose)
.black-tile:hover, .white-tile:hover {
    background-color: blue;
}

.white-tile {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece {
    cursor: grab;
    -webkit-user-select: none;
    user-select: none;
    z-index: 999;
}

.drop-preview {
    display: none;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.interface-vote {
    margin-left: 50px;
}

.redDot {
    position: absolute;
    display: block;
    left: 37.5%;
    top: 37.5%;
    height: 25%;
    width: 25%;
    background-color: red;
    border-radius: 50%;
    z-index: 1;
}