<div class="board">
    <mat-grid-list cols="8" rowHeight="10vh" gutterSize="0px" cdkDropListGroup>
        <mat-grid-tile *ngFor="let case of this.board.getFlatCases(); let index=index">
            <div 
                [ngClass]="this.setTileColorClass(index)" 
                cdkDropList 
                [cdkDropListData]="{item: case, index: index}" 
                cdkDropListOrientation="horizontal" 
                (cdkDropListDropped)="endingDrag($event)"
            >
                <span [ngClass]="this.getDotClass(index)"></span>
                <div class="piece" cdkDrag (cdkDragStarted)="startingDrag($event)">
                    {{ case.getName() | HTMLCodePipe}}
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="interface-vote">
        <div *ngIf="from && to; else elseBlock">Vous avez voté pour {{ from | chessCase }} vers {{ to | chessCase }}</div>
        <ng-template #elseBlock>Vous n'avez pas encore voté</ng-template>
    </div>
</div>